@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-no-caret {
  caret-color: transparent;
}

.resize-container {
  overflow: auto;
}

.draggable {
  position: absolute;
  cursor: move;
}

.region {
  border: 1px solid #4b5563;
  transition: border-color 0.2s ease-in-out;
  z-index: 1;
}

.region.selected {
  border: 2px solid #60a5fa;
  z-index: 2;
}

.region.inactive {
  pointer-events: none;
}

.memorydata.inactive {
  pointer-events: none;
}
